/* @font-face {
    font-family: 'ringbearermedium';
    src: url('media/webfontkit/ringm___-webfont.woff2') format('woff2'),
         url('media/webfontkit/ringm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}*/

@font-face {
font-family: "BeaufortforLOL-Bold";
src: url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.eot");
src: url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix") format("embedded-opentype"),
url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.woff2") format("woff2"),
url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.woff") format("woff"),
url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.ttf") format("truetype"),
url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold") format("svg"); }

@media screen and (max-width: 1000px) {
    body{
        background-size: 400%;
    }
    
.texte{
				max-width: 80vw;
    margin-left:10vw;
    margin-right:10vw;}

}
@media screen and (min-width: 1000px) {
    body {
        background-size: 150%;
    }
    
.texte{
				max-width: 60vw;
    margin-left:20vw;
    margin-right:20vw;}

}
body{
    background-image: url("media/images/map-background.png"), url("media/images/black_background.png");
    background-position: right;
    background-repeat: no-repeat;
    color: white;
}

h1 {
    font-family: 'BeaufortforLOL-Bold';
    font-weight: normal;
    font-style: normal;
}

h2{
    font-family: 'BeaufortforLOL-Bold';
    text-align: center;
    font-weight: bold; 
}

.title{
  text-align: center;
}

.runeterra{
    display: flex;
    justify-content: center;
}

.region{
    padding-top: 100px;
    display: flex;   /* inline ? block ?*/
justify-content: space-around;
    align-items: center;
    text-align: center;
}


.nregion{
    border: 2px solid #ffb72e;
    background: #bbd09e13;
    padding: 10px;
    height: 250px; /*30vh;*/
    width:  160px;/*40vw;*/
    border-radius: 10px;
    
    /* ANIMATIONS*/
      display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s
  -webkit-transition-property: transform;
  transition-property: transform;
}

p{
	text-align: center;
	font-family: 'BeaufortforLOL-Bold';
	font-size: 20px;
}


.nregion:hover, .nregion:focus, .nregion:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h1.title {
	font-size: 50px;
	color: #d6b551;
}

.navbar {
  
}

.page {
	display: inline-block;
	text-align: center;
}

/*
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}
.logo {
	    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}*/