body{
  /*
  display: flex;
    flex-flow: column;
  height: 100%;
  flex-grow : 1;
      display:table;
    width:100%;
  background-image: url("media/images/grand_plaza.jpg");*/
  
    background-image: url("media/images/map-background.png"), url("media/images/black_background.png");
        background-repeat: no-repeat;
        background-position: top;
    color: white;
        font-family: 'BeaufortforLOL-Bold';
    font-weight: normal;
}
/*
div.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)) 10%;
    height: 100%;
    width: 100%;
}*/

h1 {
    font-family: 'BeaufortforLOL-Bold';
    font-weight: normal;
    font-style: normal;
}

h2{
    font-family: 'BeaufortforLOL-Bold';
    text-align: center;
    font-weight: bold;
    font-size: 30px; 
}
.title{
  text-align: center;
}

.runeterra{
    display: flex;
    justify-content: center;
}

h1.title {
	font-size: 50px;
	color: #d6b551;
}

.navbar {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.page {
	display: inline-block;
	text-align: center;
  justify-content: space-around;

  /* ANIMATIONS*/
  
}

.page:hover {
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
/*  NAVBAR ------------------------------------------ */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.root:hover    .dropdown-content {
   display: block;
}


div a:visited {
  color: white;
}

/*--------------------------  PAGE 2 MONUMENTS -------------*/
.each_monument {
  text-align: center;
}

.img_mon {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  transition: 1s;
}

.monuments {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
text-align: center;
}

.description {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.img_1:hover #img_monument_1{
  filter: blur(3px) grayscale(20%) brightness(50%);
}

.img_1:hover #description_1 {
  visibility: visible;
  opacity: 1;
}

.img_2:hover #img_monument_2{
  filter: blur(3px) grayscale(20%) brightness(50%);
}

.img_2:hover #description_2 {
  visibility: visible;
  opacity: 1;
}

.img_3:hover #img_monument_3{
  filter: blur(3px) grayscale(20%) brightness(50%);
}

.img_3:hover #description_3 {
  visibility: visible;
  opacity: 1;
}

.img_4:hover #img_monument_4{
  filter: blur(3px) grayscale(20%) brightness(50%);
}

.img_4:hover #description_4 {
  visibility: visible;
  opacity: 1;
}

.each_monument {
  text-align: center;
position: relative;
  margin-bottom: 100px;
}

p{
  width: 400px;
  text-align: center;
  font-family: 'BeaufortforLOL-Bold';
  font-size: xx-large;
  color: #b78846;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
/*
@-webkit-keyframes brightness {
  0%, 100%  { -webkit-filter: brightness(none); }
  50% { -webkit-filter: brightness(100); }
}
*/






/*   --------------------------------------------   */
/*
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}
.logo {
	    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}*/