/* @font-face {
    font-family: 'ringbearermedium';
    src: url('media/webfontkit/ringm___-webfont.woff2') format('woff2'),
         url('media/webfontkit/ringm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}*/

@font-face {
font-family: "BeaufortforLOL-Bold";
src: url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.eot");
src: url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix") format("embedded-opentype"),
url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.woff2") format("woff2"),
url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.woff") format("woff"),
url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.ttf") format("truetype"),
url("media/fonts/Beaufort for LOL Bold/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold") format("svg"); }

@media screen and (max-width: 1000px) {
    body{
        background-size: 400%;
    }
    
.texte{
				max-width: 80vw;
    margin-left:10vw;
    margin-right:10vw;}

}
@media screen and (min-width: 1000px) {
    body {
        background-size: 150%;
    }
    
.texte{
				max-width: 40vw;
    margin-left:30vw;
    margin-right:30vw;}

}
body{
  /*
  display: flex;
    flex-flow: column;
  height: 100%;
  flex-grow : 1;
      display:table;
    width:100%;
  background-image: url("media/images/grand_plaza.jpg");*/
  
    background-image: url("media/images/map-background.png"), url("media/images/black_background.png");
        background-repeat: no-repeat;
        background-position: top;
    color: white;
        font-family: 'BeaufortforLOL-Bold';
    font-weight: normal;
}
/*
div.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)) 10%;
    height: 100%;
    width: 100%;
}*/

h1 {
    font-family: 'BeaufortforLOL-Bold';
    font-weight: normal;
    font-style: normal;
}

h2{
    font-family: 'BeaufortforLOL-Bold';
    text-align: center;
    font-weight: bold;
    font-size: 30px; 
}
.title{
  text-align: center;
}

.runeterra{
    display: flex;
    justify-content: center;
}

.region{
    padding-top: 100px;
    display: flex;   /* inline ? block ?*/
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.nregion{
    border: 2px solid #ffb72e;
    background: #bbd09e13;
    padding: 10px;
    height: 250px; /*30vh;*/
    width:  160px;/*40vw;*/
    border-radius: 10px;
    
    /* ANIMATIONS*/
      display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s
  -webkit-transition-property: transform;
  transition-property: transform;
  /*align-items: center;*/
}

p{
	text-align: left;
	font-family: 'BeaufortforLOL-Bold';
	font-size: 18px;
}


.nregion:hover, .nregion:focus, .nregion:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h1.title {
	font-size: 50px;
	color: #d6b551;
}

.navbar {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.page {
	display: inline-block;
	text-align: center;
  justify-content: space-around;

  /* ANIMATIONS*/
  
}

.page:hover {
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

}


.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(#000, 0.5);
  width: 100%;
  max-width: 600px;
  padding: 5px;
  border: 2px solid $color-alpha;
  &:before, &:after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: $color-alpha;
    border: 2px solid $color-alpha;
    line-height: 12px;
    top: 5px;
    text-align: center;
  }
  &:before {
    left: 5px;
  }
  &:after {
    right: 5px;
  }
  .box {
    position: relative;
    border: 2px solid $color-alpha;
    padding: 40px;
    &:before, &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: $color-alpha;
      border: 2px solid $color-alpha;
      line-height: 12px;
      bottom: -2px;
      text-align: center;
    }
    &:before {
      left: -2px;
    }
    &:after {
      right: -2px;
    }
  }
}
/*  NAVBAR ------------------------------------------ */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.root:hover    .dropdown-content {
   display: block;
}


div a:visited {
  color: white;
}

/*--------------------------  PAGE 2 MONUMENTS -------------*/

img.img_monument {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 5%;
}

.monuments {
  display: inline-block;
  justify-content: space-around;
  align-items: center;

}

.each_monument {
  text-align: center;
  margin-bottom: 100px;
}

/*
.dropdown:hover .dropdown-content {
  display: block;
}
*/










/*   --------------------------------------------   */
/*
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}
.logo {
	    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}*/